
<body id="pageBody">
<div class="container">
  <div class="divPanel page-content">

    <div class="row-fluid">

      <div class="span12" id="divMain">

      <h1>Editing Cookcategory</h1>

          <%= render 'form' %>

          <%= link_to 'Show', @cookcategory %>
        </div>
      </div>
    </div>
  </div>

</body>