
<body id="pageBody">
<div class="container">
  <div class="divPanel page-content">

    <div class="row-fluid">

      <div class="span12" id="divMain">

      <h1>New Cookcategory</h1>

          <%= render 'form' %>

          <%= link_to 'Back', cookcategories_path %>
      </div>
    </div>
  </div>
</div>
</body>