<div id="contentOuterSeparator"></div>
<div class="container">
  <div class="divPanel page-content">
    <div class="row-fluid">
      <div class="span8" id="divMain">
        <h1>New Cuisine</h1>

        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
