<div id="contentOuterSeparator"></div>
<div class="container">
  <div class="divPanel page-content">
    <div class="row-fluid">
      <div class="span8" id="divMain">

        <p>
          <strong>Name:</strong>
          <%= @cuisine.name %>
        </p>

      </div>
    </div>
  </div>
</div>