<body id="pageBody">
<div id="contentOuterSeparator"></div>

<div class="container">

  <div class="divPanel page-content">
    <div class="row-fluid">
      <div class="span8" id="divMain">

           <h1>Contact Us</h1>

            <%= render 'form' %>

          </div>

       <br/>
       <br/>
      <div class="span4 sidebar">

        <div class="sidebox">

          <h3 class="sidebox-title">Contact Information</h3>
          <p>
          <address><strong>Khaiye Khabo Inc.</strong><br />
            Asian Institute of Technology<br />
            Rangsit, Thailand<br />
            <abbr title="Phone">Phone</abbr> (123) 456-7890</address>
          <address>  <strong>Email</strong><br />
            <a href="mailto:#">nabiltkarim@gmail.com</a><br/>
            <a href="mailto:#">sanjanazain200@gmail.com</a></address>
          </p>

       
        </div>
      </div>
      <!--/End Sidebar Content-->

    </div>
        </div>
      </div>
    </div>
</body>

