<body id="pageBody">
<div id="contentOuterSeparator"></div>

<div class="container">

  <div class="divPanel page-content">
    <div class="row-fluid">
      <div class="span8" id="divMain">

<p>
  <strong>Fullname:</strong>
  <%= @contact.fullname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @contact.subject %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @contact.comment %>
</p>


      </div>
    </div>
  </div>
</div>
</body>
